<main id='home'>
  <div class='bg-home'></div>
  <div class='home-container'>
    <h1 class='lg-heading home__heading'>Aryan<span class='text-secondary'>Patel</span></h1>
    <h2 class='sm-heading home__title'>
      Web Developer, Programmer & Entrepreneur.
    </h2>
    <a href='https://github.com/aryan411' class='icon-fa' target='_blank'>
      <i class='fab fa-github fa-2x'></i>
    </a>
    <a href='https://www.linkedin.com/in/aryan-patel-876b13190/' class='icon-fa' target='_blank'>
      <i class='fab fa-linkedin fa-2x'></i>
    </a>
</main>
