<main id='myWork'>
  <div class='myWork-container'>
    <h1 class='lg-heading myWork-heading'>My <span class='text-secondary'>Services</span></h1>
    <div class='bg-myWork-service'>
    </div>
    <h2 class='sm-heading myWork__title'>
		We don't want to push our ideas on to customers, we simply want to make what they want.
    </h2>
  </div>
</main>

<section class='myWork-section' style="display: -webkit-inline-box !important; margin-top: 20rem;">
    <article class='myWork-portfolio' style="width: -webkit-fill-available !important;">
       <h1>Web/Mobile Applications</h1>
      <p>We Provide Resonsive faster web/mobile application</p> 
      <ul> 
            <li>
              HTML, CSS
            </li>
            <li>
              JavaScript
            </li>
            <li>
              Angular
            </li>
            <li>
              React
            </li>
      </ul>
      {{!-- <img src={{this.img}} alt=''>  --}}
      {{!-- <a class='btn'  href='/portfolio/details/{{id}}'>See details</a>  --}}
    </article>
    <article class='myWork-portfolio' style="width: -webkit-fill-available !important;">
      <h1>RestFul APIs</h1>
      <p>We Provide API Service in multiple technology</p> 
      <ul> 
            <li>
              Node.Js, Express.js
            </li>
            <li>
              J2EE
            </li>
            <li>
              C#
            </li>
      </ul>
      
    </article>
    <article class='myWork-portfolio' style="width: -webkit-fill-available !important;">
      <h1>UX/UI</h1>
      <p>We Provide Creative UI/UX for our customer</p> 
      <ul> 
            <li>
              Figma
            </li>
            <li>
              Photoshop
            </li>
      </ul>
      
    </article>
</section>
